#mbi-form .mbi-image-container{
	background:#FFF;
	padding:20px;
	margin-bottom:20px;
}

#mbi-form .upload_image_button, #mbi-form .remove-breakpoint{
	margin-top:10px;
}

.clear-block{
	width:100%;
	margin-top:20px;
}